.courses-page {
  padding: 2rem;
  text-align: center;
}

.course-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.course-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  border: 3px solid #ddd;
}

.course-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.course-card h3 {
  font-size: 1.2rem;
}
